<h2>Average Age: <%= Comedian.average_age %>

<table id="comedians">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Specials</th>
    <th>Number of Specials</th>
  </thead>

  <tbody>
    <% @comedians.find_each do |comedian| %>
      <tr>
        <td><%= comedian.name %></td>
        <td><%= comedian.age %></td>
        <td>
          <ul>
            <% comedian.specials.find_each do |special| %>
              <li><%= special.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= comedian.specials.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>